@model Employee

<h2>Update @Model.FirstName</h2>

@using (Html.BeginForm("UpdateEmployeeToDatabase", "Employee", "Post"))
{
    <input asp-for="EmployeeID" type="hidden" value="@Model.EmployeeID" />

    <label asp-for="FirstName" class="control-label">FirstName</label>
    <input type="text" name="FirstName" class="form-control" value="@Model.FirstName" />

    <label asp-for="LastName" class="control-label">LastName</label>
    <input type="text" name="LastName" class="form-control" value="@Model.LastName" />

    <label asp-for="EmailAddress" class="control-label">EmailAddress</label>
    <input type="text" name="EmailAddress" class="form-control" value="@Model.EmailAddress" />

    <label asp-for="PhoneNumber" class="control-label">PhoneNumber</label>
    <input type="text" name="PhoneNumber" class="form-control" value="@Model.PhoneNumber" />

    <input type="submit" value="Update Employee" class="btn btn-primary" />
}
